# Random Seed to Control Experiment

In [1]:
from abses import MainModel, Experiment


class RandomAddingMod(MainModel):
    """测试类"""

    def __init__(self, *args, **kwargs):
        super().__init__(*args, **kwargs)
        self.test_var = 0

    def random_step(self):
        """测试步骤"""
        return self.random.randint(0, 10)

    def step(self):
        """测试步骤"""
        self.test_var += self.random_step()


cfg = {
    "reports": {"final": {"test_var": "test_var"}},
    "time": {"end": 10},
}

exp = Experiment.new(RandomAddingMod, cfg=cfg, seed=42)
exp.batch_run()
exp.summary()

Job 0 repeats 1 times, with 1 processes.:   0%|          | 0/1 [00:00<?, ?it/s]

   job_id  repeat_id        seed  test_var
0       0          1  2746317213        52

In [2]:
exp2 = Experiment(RandomAddingMod, cfg=cfg, seed=42)
exp2._job_id = 1
exp2.batch_run()
exp2.summary()

Job 1 repeats 1 times, with 1 processes.:   0%|          | 0/1 [00:00<?, ?it/s]

   job_id  repeat_id        seed  test_var
0       0          1  2746317213        52
1       1          1  1071640550        62

We include another experiment with the same model and config, but different seed.
exp3 = Experiment(RandomAddingMod, cfg=cfg, seed=43)

In [3]:
exp3 = Experiment(RandomAddingMod, cfg=cfg, seed=43)
exp3.batch_run()
exp3.summary()

Job 0 repeats 1 times, with 1 processes.:   0%|          | 0/1 [00:00<?, ?it/s]

   job_id  repeat_id        seed  test_var
0       0          1   165578901        58
1       1          1  1071640550        62